html {
	
}

.centerText {
	text-align: center !important;
}

.form {
	margin-bottom: 16px !important;
}

#formTemplate {
	margin-left: 1em !important;
	margin-right: 1em !important;
}

.ui-panel .ui-panel-title {
	margin: auto !important;
}

ui-dataview-content ui-widget-content {
	background: blue !important;
}

.ui-datepicker-calendar {
	background: #337ab7 !important;
	font-size: 75% !important;
}

.ui-menubar {
	border-radius: 0;
	border: 0;
	background: #337ab7;
}

li, a {
	color: #fff !important;
	text-shadow: none;
	transition-duration: 0.4s;
	border-radius: 4px;
}

li:hover, a:hover {
	color: #fff !important;
	text-shadow: 1px 1px 1px black !important;
	background: #337ab7 !important;
	border: 0px !important;
	border-radius: 4px;
	box-shadow: none !important;
}

.ui-menu .ui-menuitem-link {
	border: none !important;
}

.ui-widget .ui-widget {
	font-size: 1.1em !important;
}

.information {
	font-size: 0.8em !important;
}

.body {
	padding-bottom: 20px;
	background: #343a40;
	margin: 0;
}