html {
	
}

.container {
	margin: 0;
}

.navbar{
	border-radius: 0;
	border: 0;
	background: #337ab7;
}

.navbar-default .navbar-nav, li, a{
	color: #fff !important;
	text-shadow: none;
	transition-duration: 0.4s;
}

.navbar-default:hover .navbar-nav:hover, li:hover, a:hover{
	color: #fff !important;
	text-shadow: 1px 1px 1px black !important;
}

.body {
	padding-bottom: 20px;
	background: #343a40;
}