html {
	
}

.form {
	margin-bottom: 16px !important;
}

#formTemplate {
	margin-left: 1em !important;
	margin-right: 1em !important;
}

.ui-panel .ui-panel-title {
	margin: auto !important;
}

ui-dataview-content ui-widget-content{
	background: blue !important;
}

.ui-menubar {
	border-radius: 0;
	border: 0;
	background: #337ab7;
}

.navbar-default .navbar-nav, li, a {
	color: #fff !important;
	text-shadow: none;
	transition-duration: 0.4s;
}

.navbar-default:hover .navbar-nav:hover, li:hover, a:hover {
	color: #fff !important;
	text-shadow: 1px 1px 1px black !important;
	background: none !important;
	border: 0px !important;
	box-shadow: none !important;
}

.ui-menu .ui-menuitem-link {
	border: none !important;
}

.ui-widget .ui-widget {
	font-size: 1.1em !important;
}

.body {
	padding-bottom: 20px;
	background: #343a40;
	margin: 0;
}